/Arreglos/nbproject/private/
/Arreglos/build/
/Tarea Extra Clases - 001/Tarea/nbproject/private/
/Tarea Extra Clases - 001/Tarea/build/
/leccion-extra-2bim-01/Ejercicio2/nbproject/private/
/leccion-extra-2bim-01/Ejercicio2/build/
/leccion-extra-2bim-01/Leccion2/nbproject/private/
/leccion-extra-2bim-01/Leccion2/build/
/Leccion Extra Clsae 2/Tarea2/nbproject/private/
/Leccion Extra Clsae 2/Tarea2/build/
/Arreglos Bidimensionales/ArreglosBidimensionales/nbproject/private/
/Arreglos Bidimensionales/ArreglosBidimensionales/build/